.nav-tabs li {
  font-weight: bold;
  font-size: 20px;
  float: right;
}

.main-container tr {
  cursor: pointer;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #17313E;
}

.alliance td, .alliance-member {
  color: #1A67F4;
}

.horde td, .horde-member {
  color: #CD0A0E;
}

.team-details td {
  font-size: 18px;
}

.text-yellow {
  color: yellow;
}

.season {
  padding: 15px 10px;

  font-size: 25px;
  font-weight: bold;

  color: #2a9fd6;
  background-color: #000;

  border: 1px solid #000;
  border-top: 1px solid #2a9fd6;
  border-bottom: 1px solid #2a9fd6;
}
